<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:macro name="camera" params=" link_name parent_link joint_name
                                        Vxyz Vrpy 
                                        laser_length laser_radius mass
                                        Jxyz Jrpy">
        <link name="${link_name}">
            <visual>
                <geometry>
                    <cylinder radius="${laser_radius}" length="${laser_length}"/>
                </geometry>
                <material name="red"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${laser_radius}" length="${laser_length}"/>
                </geometry>
            </collision>
            <xacro:inertial_cylinder mass="0.1" length="${laser_length}" radius="${laser_radius}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>
        </link>

        <joint name="laser_joint" type="fixed">
            <origin xyz="0.25 0 0.1" rpy="0 0 0"/>
            <parent link="chassis"/>
            <child link="${link_name}"/>
        </joint>

        <gazebo reference="${link_name}">
            <material>Gazebo/Red</material>
            <sensor name="laser" type="ray">
                <pose> 0 0 0 0 0 0 </pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray> 
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.3</min>
                        <max>12</max>
                    </range>
                </ray>
                <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <argument>~/out:=scan</argument>
                    </ros>
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>${link_name}</frame_name>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>